# Ignore Visual Studio temporary files, build results, and
# user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore build output folders
bin/
obj/

# Except the specific file needed in bin/Debug
!bin/Debug/input.txt
!bin/Debug/output.txt

# Ignore NuGet packages
*.nupkg
packages/

# Ignore ReSharper files
_ReSharper*/
*.DotSettings.user

# Ignore Visual Studio Code settings
.vscode/
